<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/Content/css/main.css" />
    <link rel="stylesheet" href="/Content/3rd/semantic/build/packaged/css/semantic.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="ui inverted menu main fixed transparent">
        <div class="title item">
            <b>@ViewBag.Title</b>
        </div>
    </div>

    <div id="main-content">
        @RenderBody()
    </div>
    <script src="/Content/3rd/requirejs/require.js" data-main="@ViewBag.RequireJsAction"></script>
</body>
</html>